rentokil/src/test/resources/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order" type="orderType"/>
  <xs:complexType name="orderType">
    <xs:sequence>
      <xs:element type="xs:byte" name="OrderNumber"/>
      <xs:element type="xs:string" name="AccountName"/>
      <xs:element type="xs:int" name="ContactNumber"/>
      <xs:element type="xs:short" name="OrderAmount"/>
      <xs:element type="xs:string" name="OrderStatus"/>
      <xs:element type="xs:string" name="BillingAddress"/>
      <xs:element type="xs:string" name="ShippingAddress"/>
      <xs:element type="xs:string" name="CreatdBy"/>
      <xs:element type="xs:string" name="ActivatedBy"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>